@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

html,h1,h2,h3,h4,h5,h6,p,a{
    margin: 0;
    padding: 0;
    color: var(--text);
    text-decoration: none;
   }
   
   footer{
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
   }